:root {
  --background-color: #F7FAFC;
  --primary-color: #2D3748;
  --secondary-color: #718096;
  --fade-color: #A0AEC0;
  --accent-color: #9B2C2C;
}


@tailwind base;

@tailwind components;

@tailwind utilities;
